// vim: set filetype=nextflow

/*
 * Base config needed for running with -profile google
 * Google life sciences use
 */
params {
  config_profile_name = 'GOOGLE'
  config_profile_description = 'Google Cloud Life Sciences Profile'
  config_profile_contact = 'help@bio-rad.com'
  config_profile_url = 'www.bio-rad.com'

  google_zone = 'us-west2-a'
  google_bucket = false
  google_debug = false
  google_preemptible = true
}

process.executor = 'google-lifesciences'
google.zone = params.google_zone
google.lifeSciences.debug = params.google_debug
workDir = params.google_bucket
google.lifeSciences.preemptible = params.google_preemptible
if (google.lifeSciences.preemptible) {
  process.errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  process.maxRetries = 5
}
